[flake8]
min_python_version = 3.6.0
ignore =
    # E501: Line too long
    E501,
    # W503: Line break occurred before a binary operator
    W503
per-file-ignores =
    # F401: Module imported by unused
    __init__.py:F401
exclude =
    */fixtures/**/setup.py
    .git,
    .github,
    .mypy_cache,
    .pytest_cache,
    .tox,
    .venv,
    .vscode,
    __pycache__,
    dist,
