[flake8]
max-line-length = 88
extend-ignore = E501, E203
per-file-ignores = __init__.py:F401
extend-exclude =
    setup.py
    build
    dist
    releases
    .venv
    .tox
    .mypy_cache
    .pytest_cache
    .vscode
    .github
    poetry/utils/_compat.py
    tests/fixtures/
    tests/repositories/fixtures/
    tests/utils/fixtures/
