*.pyc

# Packages
/dist/*

# Unit test / coverage reports
.coverage
.pytest_cache

.DS_Store
.idea/*
.python-version

/docs/site/*
.mypy_cache

.venv
/poetry.toml
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
