modules = ["python-3.10:v16-20230726-64244b3"]

[nix]
channel = "stable-22_11"

[env]
PYTHONPATH = "$PYTHONPATH:$REPL_HOME/src"
POETRY_INSTALLER_MODERN_INSTALLATION = "0"
POETRY_PIP_FROM_PATH = "1"
POETRY_PIP_NO_PREFIX = "1"
POETRY_USE_USER_SITE = "1"
POETRY_PIP_USE_PIP_CACHE = "1"
