name: Code Quality

on:
  pull_request:
    paths-ignore:
      - '**'
  push:
    branches: [master]
    paths-ignore:
      - '**'

jobs:
  pre-commit:
    name: Linting
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v1
    - uses: pre-commit/action@v2.0.0
